html {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f7fa;
  color: #333;
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

.sidebar {
  background-color: #32689f;
  color: white;
  padding: 20px;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

header {
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

header button {
  background-color: #32689f;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 30px;
  font-size: 12px;
  cursor: pointer;
}

.search > input {
  background-color: #e2e6ea;
  border: none;
  border-radius: 20px;
  padding: 4px 8px;
  width: 300px;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
}

.projects {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.projects > h3 {
  grid-column: 1/3;
}
